<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <!-- instructions -->
                <h3>Instructions</h3>

            </div>
            <div class="col-md-8">
                <!-- questions -->
                <ng-container *ngIf="questions">
                    <h1 style="margin-top: 20px;">On Going Quiz <b>{{questions[0].quiz.title}}</b></h1>
                </ng-container>
                <mat-card *ngFor="let q of questions ; let i=index" style="margin-top: 10px;">
                    <mat-card-content>
                        <p><b>Q {{i+1}})</b><span style="margin-left: 10px;" [innerHTML]="q.content"></span></p>

                        <mat-divider></mat-divider>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-6">
                                <input type="radio" [value]="q.quesion1" [name]="i" />{{q.question1}}
                            </div>
                            <div class="col-md-6">
                                <input type="radio" [value]="q.quesion2" [name]="i" />{{q.question2}}
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-6">
                                <input type="radio" [value]="q.quesion3" [name]="i" />{{q.question3}}
                            </div>
                            <div class="col-md-6">
                                <input type="radio" [value]="q.quesion4" [name]="i" />{{q.question4}}
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <div class="container text-center" style="margin-top: 20px; margin-bottom: 20px;">
                    <button mat-raised-button color="primary">Submit Quiz</button>
                </div>
            </div>
            <div class="col-md-2">
                <!-- progress -->
            </div>
        </div>
    </div>
</div>