<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center ">
                    <img src="../../../assets/signup.png" alt="">
                </div>
                <h1 class="text-center">Register Here</h1>

                {{user|json}}
                <form (ngSubmit)="formSubmit()">
                    <!-- username -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input name="username" [(ngModel)]="user.username" required matInput placeholder="Enter here">
                        <mat-hint>Username must be unique!!</mat-hint>
                    </mat-form-field>
                    <!-- password -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input name="password" [(ngModel)]="user.password" required type="password" matInput
                            placeholder="Enter here">
                    </mat-form-field>
                    <!-- firstname -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input name="firstName" [(ngModel)]="user.firstName" required matInput placeholder="Enter here">
                    </mat-form-field>
                    <!-- lastname -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input name="lastName" [(ngModel)]="user.lastName" required matInput placeholder="Enter here">
                    </mat-form-field>
                    <!-- email -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email Address</mat-label>
                        <input name="email" [(ngModel)]="user.email" required type="email" matInput
                            placeholder="Enter here">
                    </mat-form-field>
                    <!-- phone -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input name="phone" [(ngModel)]="user.phone" required type="number" matInput
                            placeholder="Enter here">
                    </mat-form-field>

                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Register</button>
                        <button type="reset" mat-raised-button color="accent" style="margin-left: 20px;">Reset</button>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>