<mat-card>
    <h1>Add New Quiz</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form action="">
                    <!-- title field -->
                    <mat-form-field class="w100" appearance="fill">
                        <mat-label>Title</mat-label>
                        <input type="text" name="title" placeholder="Enter here" matInput/>
                    </mat-form-field>

                    <!-- description field -->
                    <mat-form-field class="w100" appearance="fill">
                        <mat-label>Description</mat-label>
                        <textarea name="description" placeholder="Enter here" matInput rows="5"></textarea>
                    </mat-form-field>

                    <div class="row">
                        <div class="col-md-6">
                            <!-- max marks -->
                            <mat-form-field class="w100" appearance="fill">
                                <mat-label>Maximum Marks</mat-label>
                                <input type="text" name="maxMarks" placeholder="Enter here" matInput/>
                            </mat-form-field>

                        </div>
                        <div class="col-md-6">
                            <!-- number of question to be shown -->
                            <mat-form-field class="w100" appearance="fill">
                                <mat-label>Number Of Questions</mat-label>
                                <input type="text" name="numberOfQuestions" placeholder="Enter here" matInput/>
                            </mat-form-field>

                        </div>
                    </div>

                    <!-- active field -->
                    <mat-slide-toggle [checked]="false" style="margin-top: 20px;">
                        Publish status
                    </mat-slide-toggle>

                    <br/>
                    <!-- select category -->
                    <mat-form-field appearance="fill" style="margin-top: 20px; width: 100%;">
                        <mat-label>Quiz Category</mat-label>
                        <mat-select name="category">
                            <mat-option *ngFor="let c of categories" [value]="c.cid">
                                {{c.title}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- add button -->
                    <div class="container text-center" style="margin-top: 20px;">
                        <button mat-raised-button color="primary" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</mat-card>